<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Pizza Zone</title>
  </head>
  <body>
    <div id="app">
      <header>
        <h1>Welcome to the <span class="pizzazone">Pizza Zone</span><span v-if="userName">, {{ userName }}</span>!</h1>
        <nav>
          <ul class="navBar">
            <li><a v-on:click="currentPage = 'home'">Home</a></li>
            <li><a v-on:click="currentPage = 'order'">Order</a></li>
            <li><a v-on:click="currentPage = 'contact'">Contact</a></li>
          </ul>
        </nav>
        <button v-on:click="logOut">Log out</button>
      </header>
      <!-- home page -->
      <main v-bind:hidden="currentPage != 'home'">
        <h2>Minions ipsum baboiii me want bananaaa!</h2>
        <p>Para tú me want bananaaa! Daa uuuhhh bee do bee do bee do potatoooo. Gelatooo potatoooo uuuhhh po kass tank yuuu! Bee do bee do bee do gelatooo jeje po kass pepete poopayee. Aaaaaah gelatooo gelatooo bappleees. Jeje ti aamoo! Jiji potatoooo po kass uuuhhh. Butt hana dul sae poulet tikka masala jiji hahaha bee do bee do bee do pepete uuuhhh bananaaaa me want bananaaa! Hahaha. Potatoooo daa bee do bee do bee do bappleees belloo! Poopayee ti aamoo! Para tú po kass. Bananaaaa para tú jiji bee do bee do bee do baboiii para tú po kass.</p>
        <h3>Gelatooo tank yuuu!</h3>
        <p>Poulet tikka masala la bodaaa. Potatoooo tulaliloo tank yuuu! Para tú para tú para tú bananaaaa. Belloo! underweaaar bee do bee do bee do tank yuuu! Chasy belloo! Jiji tatata bala tu. Butt hana dul sae underweaaar poopayee poopayee uuuhhh aaaaaah tatata bala tu bappleees jeje jiji. Aaaaaah underweaaar jiji uuuhhh chasy jiji baboiii baboiii bee do bee do bee do. Hahaha para tú hahaha poulet tikka masala la bodaaa uuuhhh bananaaaa bappleees bee do bee do bee do la bodaaa. Chasy bananaaaa butt daa hana dul sae jiji belloo! Me want bananaaa! Butt bananaaaa.</p>
        <h3>I don't like this very much</h3>
        <p><a v-on:click="currentPage = 'contact'">Contact us</a></p>
      </main>
      <!-- order page -->
      <main v-bind:hidden="currentPage != 'order'">
        <p v-if="sandwichName">Your favorite sandwich is {{ sandwichName }}.</p>
        <p v-else>Pick your favorite sandwich below!</p>
        <ul>
          <li class="imageBg" v-for="sandwich in sandwichTypes" v-bind:style="{ backgroundImage: 'url('+sandwich.image+')' }">
            <a v-on:click="sandwichName = sandwich.name">{{ sandwich.name }}</a>
          </li>
        </ul>
        <button v-bind:disabled="!sandwichName" class="orderbutton" v-on:click="sandwichOrder.push(sandwichName)">Order this sandwich</button>
        <p><a href="#calzone-facts">Get straight to the Calzones</a></p>
        <p>Would you like to place an order for the following:</p>
        <ul>
          <li v-for="sandwich in sandwichOrder">
            {{ sandwich }}
          </li>
        </ul>
        <button v-bind:disabled="cannotPlaceOrder" v-on:click="sandwichOrder = []">
          Place Order Now!
        </button>
        <p class="couldBeDangerous" v-bind:class="{ dangerOrder: isDangerous }" v-if="sandwichName">
          You have ordered {{ isDangerous ? "an UNSAFE" : "a safe" }} number of {{ pluralSandwich }}.
        </p>
        <p v-else>
          You have not ordered anything.
        </p>
        <article v-if="sandwichName == 'Pizza'">
          <h2>What Makes Pizza SO GOOD</h2>
          <p>Pizza is just bread and cheese.</p>
          <p>Bread is good.</p>
          <p>Cheese is good.</p>
          <h3>Reasons To Like Pizza</h3>
          <p>You don't need one</p>
          <p>You should like it anyway</p>
          <h3>Examples of Good Pizza</h3>
          <ul>
            <li v-for="pizzaImage in pizzaImages">
              <a href="#" v-on:click="showModal(pizzaImage)"><img v-bind:src="pizzaImage"></a>
            </li>
          </ul>
        </article>
        <article v-if="sandwichName == 'Calzone'">
          <h3 id="calzone-facts">This is some interesting facts about calzones</h3>
          <li>
            <ul>Calzone fact #1: Calzone is just taco pizza.</ul>
            <ul>Calzone fact #2: Ham calzones are <a href="https://www.youtube.com/watch?v=Ujw6B7JUnIA">illegal</a>.</ul>
          </li>
        </article>
        <article v-if="sandwichName == 'Ravioli'">
          <h3 id="ravioli-facts">This is some interesting facts about pillow pata</h3>
          <li>
            <ul>Ravioli fact #1: Ravioli is just noodle sandwich.</ul>
            <ul>Ravioli fact #2: If you can make ravioli on your own, you are techincally a warlock.</ul>
          </li>
        </article>
        <article v-if="sandwichName == 'Ice Cream'">
          <p>Ice cream isn't a sandwich</p>
        </article>
        <article v-if="sandwichName == 'Hot Pocket'">
          <p>I was into hot pockets before they were cool. I burned myself</p>
        </article>
      </main>
      <!-- contact page -->
      <main v-bind:hidden="currentPage != 'contact'">
        <h3>Use this automated complaint form</h3>
        <ul>
          <li v-for="complaint in complaints">
            {{ complaint.message }}
            <button v-on:click="removeComplaint(complaint.id)">Remove</button>
          </li>
        </ul>
        <button v-on:click="addComplaint({ message: 'This site REALLY stinks', id: 0 })">This site REALLY stinks</button>
        <button v-on:click="addComplaint({ message: 'I ordered a pizza, it did not show up', id: 1 })">I ordered a pizza, it did not show up</button>
        <button v-on:click="addComplaint({ message:'I don\'t like calzones', id: 2 })">I don't like calzones</button>
        <p>Or, please feel free to <a href="http://monsanto.com">contact us</a>.</p>
      </main>
      <!-- login page -->
      <main v-bind:hidden="currentPage != 'login'">
        <h3>Please log in</h3>
        <input v-model="userName" placeholder="username">
        <button v-on:click="logIn" v-bind:disabled="!userName">Log in</button>
        <h4>THIS CAT IS NOT A TOPPING</h4>
        <img src="images/kitten.jpg">
      </main>
      <!-- modal -->
      <div class="modalContainer" v-bind:hidden="!isModalShown">
        <div class="modalActual">
          <span class="helper"></span>
          <img class="modalImage" v-bind:src="modalImage">
          <a class="modalClose" v-on:click="hideModal">Close</a>
        </div>
      </div>
      <footer>
        &copy; 2020 <span class="pizzazone">Pizza Zone</span>, a division of Monsanto
      </footer>
    </div>
    <script src="dist/main.js" type="text/javascript"></script>
  </body>
</html>
