body {
  font-size: 13px;
  line-height: 1.16em;
  font-family: sans-serif;
}

.selectableOption {
  color: #777;
}

.selectedOption {
  color: #222;
  font-weight: 500;
}

li {
  list-style: none;
}

.grades {
  font-weight: bolder;
  font-size: 2em;
}

.gradeA {
  color: #55f441;
}

.gradeB {
  color: #d3f441;
}

.gradeC {
  color: #f4d041;
}

.gradeD {
  color: #f48041;
}

.gradeF {
  color: #f45342;
}

.elementLabel {
  color: grey;
}
